.cherry-ui-container {
  margin: 10px 0 20px 0; }

label.cherry-label {
  margin: 0 0 5px 0;
  display: block; }

.hide {
  display: none !important; }

select.cherry-ui-select {
  width: 100%;
  outline: 0 none;
  color: #23282d;
  font-size: 14px;
  line-height: 20px;
  color: #23282d;
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 10px 20px;
  min-height: 50px;
  border: 1px solid #dcdcdc;
  box-shadow: none; }
  select.cherry-ui-select:focus {
    border-color: rgba(41, 143, 252, 0.6);
    box-shadow: 0 0 2px rgba(41, 143, 252, 0.6); }
  select.cherry-ui-select:focus {
    border-color: none;
    box-shadow: none; }

select.select2-hidden-accessible {
  display: none; }

.select2 {
  color: #23282d;
  background-color: #f1f1f1;
  border-radius: 2px;
  border: 1px solid #dcdcdc; }
  .select2 .selection .select2-selection.select2-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    height: 50px; }
    .select2 .selection .select2-selection.select2-selection--single .select2-selection__rendered {
      padding: 15px 20px;
      font-size: 14px;
      line-height: 20px; }
    .select2 .selection .select2-selection.select2-selection--single .select2-selection__arrow {
      height: 50px; }
  .select2 .selection .select2-selection.select2-selection--multiple {
    background-color: transparent;
    border: none;
    border-radius: 2px; }
    .select2 .selection .select2-selection.select2-selection--multiple .select2-selection__rendered {
      font-size: 14px;
      line-height: 20px;
      padding: 0;
      display: block; }
      .select2 .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
        line-height: 20px;
        margin: 5px;
        border: none;
        background-color: #23282d;
        border-radius: 2px;
        color: #fff;
        padding: 10px; }
        .select2 .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
          color: #e64545;
          margin-right: 10px; }
      .select2 .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-search {
        margin: 0; }
        .select2 .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-search .select2-search__field {
          padding: 0;
          margin: 15px 10px;
          border: none;
          box-shadow: none;
          line-height: 20px; }

.select2-container .select2-dropdown {
  background-color: #e5e5e5;
  border: none;
  border-radius: 2px;
  margin: 5px 0;
  box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.1);
  z-index: 500001; }
  .select2-container .select2-dropdown .select2-search__field {
    border: none;
    box-shadow: none;
    border-radius: 2px;
    margin: 0; }
    .select2-container .select2-dropdown .select2-search__field:focus {
      outline: none; }
  .select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected=true] {
    color: #fff;
    background-color: #2a90fc; }
  .select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted {
    color: #fff;
    background-color: #23282d; }
  .select2-container .select2-dropdown .select2-results .select2-results__options .li[aria-disabled=true] {
    display: none; }
