.cherry-ui-container {
  margin: 10px 0 20px 0; }

label.cherry-label {
  margin: 0 0 5px 0;
  display: block; }

.cherry-ui-media-wrap .cherry-upload-preview {
  display: block;
  margin: 0 0 5px 0; }
  .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 120px; }
    .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap .inner {
      width: 110px;
      height: 110px;
      margin: 3px;
      position: relative;
      border: 2px solid #298ffc;
      border-radius: 2px;
      overflow: hidden; }
      .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap .inner .preview-holder {
        width: 100%;
        height: 100%;
        position: relative;
        background: #f1f1f1;
        box-sizing: border-box; }
        .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap .inner .preview-holder .centered {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          -webkit-transform: translate(50%, 50%);
          -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%); }
        .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap .inner .preview-holder img {
          max-width: 100%;
          height: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap .inner .preview-holder span {
          width: auto;
          height: auto;
          font-size: 60px;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap .inner .title {
        position: absolute;
        width: 100%;
        padding: 5px 0;
        bottom: 0;
        left: 0;
        color: #fff;
        background: rgba(41, 143, 252, 0.8);
        text-align: center;
        font-size: 11px;
        overflow: hidden; }
    .cherry-ui-media-wrap .cherry-upload-preview .cherry-image-wrap:hover .cherry-remove-image {
      display: block; }
  .cherry-ui-media-wrap .cherry-upload-preview .cherry-media-thumb-sortable-placeholder {
    width: 112px;
    height: 112px;
    margin: 3px;
    vertical-align: top;
    border: 1px dashed #dcdcdc;
    display: inline-block;
    background-color: #f1f1f1; }

.cherry-ui-media-wrap .upload-button {
  float: left; }

.cherry-ui-media-wrap .cherry-remove-image {
  width: 30px;
  height: 30px;
  color: #e54343;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  display: none; }
  .cherry-ui-media-wrap .cherry-remove-image i {
    width: 30px;
    height: 30px;
    font-size: 30px; }
  .cherry-ui-media-wrap .cherry-remove-image:hover {
    color: #d71e1e; }

.cherry-ui-media-wrap .cherry-bgsetting {
  float: left;
  width: 32%;
  margin-right: 1%; }
  .cherry-ui-media-wrap .cherry-bgsetting:nth-child(3n+1) {
    width: 34%;
    margin-right: 0; }
  .cherry-ui-media-wrap .cherry-bgsetting select {
    margin-bottom: 10px; }

.button-default_ {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 15px 20px;
  color: #23282d;
  text-transform: uppercase;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  cursor: pointer;
  transition: all 200ms linear;
  color: #ffffff;
  border-color: #777879 #2f343a #2f343a #777879;
  background-color: #495159; }
  .button-default_:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    content: ''; }
  .button-default_:hover:before {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%); }
  .button-default_:active:before {
    opacity: 0; }
  .button-default_:active {
    background-color: #495159;
    border-color: #181b1e #777879 #777879 #181b1e; }
