.cherry-ui-container {
  margin: 10px 0 20px 0; }

label.cherry-label {
  margin: 0 0 5px 0;
  display: block; }

.hide {
  display: none !important; }

.cherry-checkbox-item {
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 6px;
  cursor: pointer;
  position: relative;
  background-color: #f1f1f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
  .cherry-checkbox-item .marker {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 28px;
    transition: inherit;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
    .cherry-checkbox-item .marker:before {
      transition: inherit;
      position: relative;
      left: -2px; }

.cherry-checkbox-input[checked] + .cherry-checkbox-item {
  background-color: #48c569; }
  .cherry-checkbox-input[checked] + .cherry-checkbox-item .marker {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.cherry-checkbox-label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 26px;
  color: #23282d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .cherry-checkbox-label:focus {
    outline: 1px solid rgba(41, 143, 252, 0.6);
    box-shadow: 0px 0px 2px rgba(41, 143, 252, 0.6); }
