p {
	margin: 0 0 30px;

	&:last-child {
		margin-bottom: 0;
	}

	.single .post > .entry-content > &:first-letter{
		@include font-size(40/16);
		float: left;
		margin: 12px 20px 5px 0;
		@include border-radius();
		line-height: 1;
		padding: 20px 30px;
		position: relative;
	}
}
@-moz-document url-prefix() {
	.single .post > .entry-content > p:first-letter{
		padding: 26px 30px;
	}
}

.dropcaps {
	@include font-size(40/16);
	float: left;
	margin: 12px 20px 5px 0;
	@include border-radius();
	line-height: 1;
	padding: 20px 30px;
	position: relative;
}

dfn, em, i {
	font-style: italic;
}

cite {
	font-style: normal;
}

address {
	margin: 0 0 1.4em;
}

pre {
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	overflow: auto;
	max-width: 100%;
	margin: 0 0 1.5em;
	padding: 1.5em;
	background: $color__background-pre;
	border: 1px solid $color__border-pre;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;

	@include font-size(1);
}

code, kbd, tt, var {
	font-family: $font__code;

	@include font-size(0.9375);
}

code {
	padding: 1px 5px;
	border: 1px solid $color__background-hr;
	@include font-size(1.125);
}

abbr, acronym {
	cursor: help;
	border-bottom: 1px dotted $color__border-abbr;
}

mark, ins {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid;
}

big {
	font-size: 125%;
}

body.single .post > .entry-content > p:first-letter,
body.single-team .team-content .post-content > *:first-letter {
	@include font-size(66/16);
	background: transparent;
	padding: 0;
	margin: -5px 15px 0 0;
	float: left;
	position: relative;
	line-height: 1;
}
@-moz-document url-prefix() {
	body.single .post > .entry-content > p:first-letter,
	body.single-team .team-content .post-content > p:first-letter {
		padding: 0;
		margin: -5px 15px 0 0;
	}
}

body .dropcaps {
	@include font-size(66/16);
	background: transparent;
	padding: 0;
	margin: -5px 15px 0 0;
}