h1{
	margin: 0 0 7px;
}

h2 {
	margin: 0 0 20px;
	@include media-breakpoint-up(lg) {
		margin: 0 0 30px;
	}
}

h3, h4 {
	margin: 0 0 20px;
	@include media-breakpoint-up(lg) {
		margin: 0 0 25px;
	}
}

h5 {
	margin: 0 0 20px;
}

h6 {
	margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	&:last-child {
		margin-bottom: 0;
	}
	p + & {
		margin-top:50px;
	}
}

h4+h1{
	margin-top: 40px;
}
h1+p{
	margin-top: 37px;
}
h5+p{
	margin-top: 28px;
}
.tm_pb_text.tm_pb_text_align_left{
	h4:first-child{
		position: relative;
		&:before{
			content: '';
			width: 23px;
			height: 3px;
			position: absolute;
			left: 0;
			bottom: -15px;
		}
	}
}