/* #Button Appearance Styles (regular scheme) */
.link {
	color: $regular_link_color;
	border-color: $regular_link_color;
}
.invert .link {
	color: $invert_link_color;
}
.link:hover,
.invert .link:hover {
	color: $invert_accent_color_1;
	background-color:$regular_link_hover_color;
	border-color: $regular_link_hover_color;
}
.submit, .link__text{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
}
.btn,
.btn-primary,
.btn-secondary,
.btn:hover,
.btn-primary:hover,
.btn-secondary:hover,
.invert .btn-primary,
.invert .btn-secondary,
.invert .btn-primary:hover,
.invert .btn-secondary:hover{
	color: $invert_link_color;
}
.btn,
.btn-primary {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn:hover,
.btn-primary:hover {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn:active,
.btn-primary:active {
	box-shadow: 0 0 10px $regular_accent_color_2;
}
.btn-secondary {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn-secondary:hover {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn-secondary:active {
	box-shadow: 0 0 10px $regular_accent_color_1;
}

.error-404 .btn-secondary:hover {
	color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.btn-default {
	color: $regular_accent_color_2;
}
.btn-default:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn-default:active {
	box-shadow: 0 0 10px $regular_accent_color_1;
}

/* #Button Appearance Styles (invert scheme) */
.invert .btn,
.invert .btn-primary,
.invert .btn-secondary,
.invert .btn-default {
	color: $invert_link_color;
	border-color: $invert_link_color;
}
.invert .btn-primary:hover,
.invert .btn-secondary:hover,
.invert .btn-default:hover {
	color: $regular_link_hover_color;
	border-color: $invert_link_color;
	background-color: $invert_link_color;
}