/* #Elements */
blockquote {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-family: @font_family( $h4_font_family );
}
blockquote p:before {
	color: $regular_link_color;
}

code {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
	font-family: @font_family( $body_font_family );
}
.dropcaps,
.single-post .post > .entry-content > p:first-letter,
.single-team .team-content .post-content > *:first-letter {
	color: $regular_accent_color_1;
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-family: @font_family( $h2_font_family );
}

.single-team .team-name::before,
.service-header__content h2::before,
#tm_builder_outer_content .tm_pb_slide_title:before,
#tm_builder_outer_content .container:first-child .tm_pb_text:first-child h1:first-child::before,
#tm_builder_outer_content .container:first-child .tm_pb_text:first-child h2:first-child::before,
#tm_builder_outer_content .container:first-child .tm_pb_text:first-child h3:first-child::before {
	background-color: $regular_accent_color_1;
}

/*List*/
.entry-content ol >li:before,
.site-main ol >li:before,
.entry-content ul:not([class]) > li:before,
.site-main ul:not([class]) > li:before {
	color: $regular_accent_color_2;
}
.entry-content ul:not([class]) > li:before{
	background-color: $regular_link_color;
}
.entry-content ol > li:before{
	color: $regular_link_color
}

/* Page preloader */
.page-preloader {
	border-top-color: $regular_accent_color_1;
	border-right-color: $regular_accent_color_1;
}

/* Pricing Table */
.pricing_table li > span{
	font-size: $h6_font_size{px};
}

.sidebar .widget-title:before{
	background-color: $regular_link_color;
}