/* #Footer */
.site-footer {
	background-color: $footer_bg;
}
.footer-area-wrap {
	background-color: $footer_widgets_bg;
}
.site-footer .invert a:not([href^='tel:']) {
	color: $invert_text_color;
}
.site-footer .invert a:not([href^='tel:']):hover {
	color: $regular_accent_color_1;
}
.footer-area-wrap.invert{
	color: $invert_text_color;
}
