/* #Fields */
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	color: $regular_text_color;
}
/* #Fields invert*/
.invert input[type='text'],
.invert input[type='email'],
.invert input[type='url'],
.invert input[type='password'],
.invert input[type='search'],
.invert input[type='number'],
.invert input[type='tel'],
.invert input[type='range'],
.invert input[type='date'],
.invert input[type='month'],
.invert input[type='week'],
.invert input[type='time'],
.invert input[type='datetime'],
.invert input[type='datetime-local'],
.invert input[type='color'],
.invert select,
.invert textarea {
	color: $invert_text_color;
}
/* #Search Form */
.search-form__field {
	color: $regular_text_color;
}
.search-form__input-wrap i,
.search-form__toggle,
.search-form__close {
	color: $regular_accent_color_4;
}

.invert .search-form__toggle,
.invert .search-form__close {
	color: $invert_text_color;
}

.search-form__toggle:hover,
.search-form__close:hover,
.invert .search-form__close:hover{
	color: $regular_accent_color_2;
}


.invert .search-form__toggle:hover,
.top-panel .search-form__submit,
.header-container .search-form__submit,
.mobile-panel .search-form__submit{
	color: $regular_link_hover_color;
}
.top-panel .search-form__submit:hover,
.header-container .search-form__submit:hover,
.mobile-panel .search-form__submit:hover,
.top-panel.invert .search-form__submit:hover,
.header-container.invert .search-form__submit:hover,
.mobile-panel.invert .search-form__submit:hover{
	color: $regular_link_color;
}

.top-panel.invert .search-form__field {	color: $invert_text_color; }
.top-panel.invert .search-form__field::-webkit-input-placeholder { color: $invert_text_color; }
.top-panel.invert .search-form__field::-moz-placeholder { color: $invert_text_color; }
.top-panel.invert .search-form__field:-moz-placeholder { color: $invert_text_color; }
.top-panel.invert .search-form__field:-ms-input-placeholder { color: $invert_text_color; }

.header-container.invert .search-form__field {	color: $invert_text_color; }
.header-container.invert .search-form__field::-webkit-input-placeholder { color: $invert_text_color; }
.header-container.invert .search-form__field::-moz-placeholder { color: $invert_text_color; }
.header-container.invert .search-form__field:-moz-placeholder { color: $invert_text_color; }
.header-container.invert .search-form__field:-ms-input-placeholder { color: $invert_text_color; }

.invert .cherry-search__results-item .cherry-search__item-attr{
	color: $regular_text_color;
}
.invert .cherry-search__results-item .cherry-search__item-attr:hover{
	color: $regular_link_color;
}

/* #Comment, Contact, Password Forms */
[class^="comment-form-"] i{
	color: @lighten($regular_text_color, 25%);
}
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.comment-form .submit:hover,
.wpcf7-submit:hover,
.post-password-form label + input:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.comment-form .submit:active,
.wpcf7-submit:active,
.post-password-form label + input:active {
	box-shadow: 0 0 10px $regular_accent_color_2;
}
.subscribe-block__input[type='email']::-webkit-input-placeholder{
	color: $regular_placeholder_color;
}

/* #Input Placeholders */
::-webkit-input-placeholder {
	color: $regular_placeholder_color;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $body_font_family );
}
::-moz-placeholder {
	color: $regular_placeholder_color;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $body_font_family );
}
:-moz-placeholder {
	color: $regular_placeholder_color;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $body_font_family );
	}
:-ms-input-placeholder {
	color: $regular_placeholder_color;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $body_font_family );
 }

 /* #Input Placeholders invert */
 .invert ::-webkit-input-placeholder {
	color: $invert_text_color;
}
 .invert ::-moz-placeholder {
	color: $regular_placeholder_color;
}
 .invert :-moz-placeholder {
	color: $regular_placeholder_color;
}
 .invert :-ms-input-placeholder {
	color: $regular_placeholder_color;
 }