/* #Paginations */
.site-content .page-links a,
.site-content .page-numbers,
#tm_builder_outer_content .pagination .page-numbers {
	border-color: $regular_link_color;
	color: $regular_link_color;
}

.site-content .page-links a:hover,
.site-content .page-numbers:hover, .page-numbers.current{
	color: $invert_accent_color_1;
	border-color: $regular_link_color;
	background-color: $regular_link_color;
}

.site-content .page-numbers.next,
.site-content .page-numbers.prev,
#tm_builder_outer_content .pagination .page-numbers.next,
#tm_builder_outer_content .pagination .page-numbers.prev {
	color: $regular_link_hover_color;
}
.site-content .page-numbers.next:hover,
.site-content .page-numbers.prev:hover,
#tm_builder_outer_content .pagination .page-numbers.next:hover,
#tm_builder_outer_content .pagination .page-numbers.prev:hover{
	color: $regular_link_color;
}

/* #Breadcrumbs */
.breadcrumbs{
	background-color: $invert_accent_color_1;
}

.breadcrumbs__item {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-size: $breadcrumbs_font_size{px};
	line-height: $breadcrumbs_line_height;
	font-family: @font_family( $breadcrumbs_font_family );
	letter-spacing: $breadcrumbs_letter_spacing{em};
	color:$regular_accent_color_4;
}


.breadcrumbs__item-target, .breadcrumbs__wrap:before {
	color: $regular_link_color;
}
.breadcrumbs__item a{
	color:$regular_accent_color_4;
}
.breadcrumbs__item a:hover{
	color:$regular_link_color;
}

.comment-navigation .nav-previous > a, .comment-navigation .nav-next > a, .posts-navigation .nav-previous > a, .posts-navigation .nav-next > a, .post-navigation .nav-previous > a, .post-navigation .nav-next > a{
	border-color: $regular_link_color;
}