/* #Entry Meta */
.sticky__label {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	margin-top: calc((($h5_font_size{px} * $h5_line_height) - 30px) / 2);
}
.posts-list--default .sticky__label{
	margin-top: calc(((@font_size($h4_font_size, multiple, ceil, 0.9333)px * $h4_line_height) - 30px) / 2);
}
@media (min-width: 992px) {
	.posts-list--default .sticky__label{
		margin-top: calc((($h4_font_size{px} * $h4_line_height) - 43px) / 2);
	}
}
.entry-meta{
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
	color: $invert_accent_color_2;
}
.entry-meta span a{
	color: $invert_accent_color_2;
}

.entry-meta span a:hover{
	color: $regular_link_color;
}
.entry-footer .post__tags a{
	border-color: $regular_link_color;
}


.entry-meta span.material-icons-ico:before{
	color: $regular_link_color;
}

@media (min-width: 544px) {
	.single-modern-header .entry-meta {
		font-size: $body_font_size{px};
	}
}

.invert .entry-meta a {
	color: $invert_link_hover_color;
}
.invert .entry-meta a:hover,
.invert.invert_primary .entry-meta a,
.invert.invert_primary .entry-meta {
	color: $invert_link_color;
}
.invert.invert_primary .entry-meta a:hover {
	color: $regular_link_hover_color;
}

.single-modern-header .posted-by {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
}

.single-modern-header .entry-title {
	font-size: @font_size($h2_font_size, multiple, ceil, 0.5)px;
}
@media (min-width: 544px) {
	.single-modern-header .entry-title { font-size: @font_size($h2_font_size, multiple, ceil, 0.6)px; }
}
@media (min-width: 992px) {
	.single-modern-header .entry-title { font-size: $h2_font_size{px}; }
}


.posted-by,
.posted-by a {
	color: $invert_accent_color_2;
}
.single-modern-header:not(.invert) .posted-by,
.single-modern-header:not(.invert) .posted-by a{
	color: $regular_link_hover_color
}
.invert .posted-by,
.invert .posted-by a {
	color: $invert_text_color;
}
.posted-by a:hover,
.single-modern-header .posted-by a:hover,
.invert .posted-by a:hover {
	color: $regular_link_color;
}
.entry-meta i {
	color: @lighten($regular_text_color, 25%);
}
.invert .entry-meta i {
	color: $invert_text_color;
}

/* #Post Format */
.format-audio .post-featured-content,
.mejs-container-wrapper,
.format-quote .post-featured-content,
.single-modern-header {
	background-color: $regular_accent_color_3;
}
.format-link .post-featured-content {
	background-color: $regular_accent_color_2;
}

/* #Author Bio */
.post-author__title a{
	color: $regular_link_hover_color;
}
.post-author__title a:hover {
	color: $regular_link_color;
}
.post-author-bio .post-author__content {
	font-size: @font_size($body_font_size, multiple, ceil, 0.77)px;
}

/* #Comments */
.comment-content-wrap {
	background-color: $regular_accent_color_3;
}
.comment-content-wrap:before {
	border-color: transparent $regular_accent_color_3 transparent transparent;
}
.comment .comment-date {
	font-style: $meta_font_style;
	font-size: $meta_font_size{px};
}
.comment .comment-date__link {
	color: $regular_link_hover_color;
}
.comment .comment-date__link:hover {
	color: $regular_link_color;
}
.comment .comment-content p {
	font-size: @font_size($body_font_size, multiple, ceil, 0.77)px;
}
.comment-reply-link,
#cancel-comment-reply-link {
	font-size: $meta_font_size{px};
}
.comment-reply-link {
	font-style: $meta_font_style;
}
#cancel-comment-reply-link {
	color: $regular_link_color;
}
#cancel-comment-reply-link:hover {
	color: $regular_link_hover_color;
}

/* #Swiper navigation*/
.swiper-pagination-bullet {
	background-color: @alpha( $regular_accent_color_2, 15 );
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover{
	background-color: $regular_accent_color_1;
}
.swiper-button-next,
.swiper-button-prev {
	color: @lighten($regular_text_color, 25%);
	background-color: $invert_accent_color_1;
}
.swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-button-prev:not(.swiper-button-disabled):hover{
	color: $regular_link_color;
}

/* Image pop-up */
a[data-popup="magnificPopup"]:before,
.mini-gallery a:before {
	background-color: $regular_accent_color_1;
}

/* Audio list */
.wp-playlist.wp-audio-playlist.wp-playlist-light {
	background-color: $regular_accent_color_3;
	border-color: $regular_accent_color_3;
}

.wp-playlist.wp-audio-playlist.wp-playlist-light .wp-playlist-caption {
	color: $regular_text_color;
}

.wp-playlist.wp-audio-playlist .wp-playlist-current-item .wp-playlist-caption .wp-playlist-item-title{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.wp-playlist.wp-audio-playlist.wp-playlist-dark .wp-playlist-current-item .wp-playlist-caption .wp-playlist-item-title{
	color: $invert_h6_color;
}

.post-author__title,
.comment-reply-title,
.comments-title,
.posts-list--default .entry-title {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, ceil, 0.85)px;
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	color: $regular_h5_color;
}

/* TM Galerry style title */
.tm_pg_gallery-item_title{
	color: $regular_accent_color_1;
	font-family: @font_family( $h2_font_family );
	font-size: $h2_font_size{px};
}
.tm_pg_gallery-item_title:hover{
	color: $invert_accent_color_1;
}