.site-footer {
	@include font-size(1);
	line-height: 1.714285;
}
.widget_nav_menu .menu-services-container ul li a {
	text-transform: uppercase;
	font-style: italic;
}
.footer-container {
	padding: 25px 0;
	border-top: 1px solid rgba( 215,215,215, 0.8);
	.site-footer.style-2 & {
		padding-top: 80px;
		padding-bottom: 80px;
		@include media-breakpoint-up(lg) {
			padding-top: 110px;
			padding-bottom: 130px;
		}
	}
	.site-info .site-info-wrap{
		.social-list__items li a:before{
			@include font-size(1.125);
		}
	}
}

.site-info {
	.footer-logo,
	.social-list,
	.footer-menu,
	.footer-copyright {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.footer-copyright {
	@include font-size(14/16);
}

@import "footer/layout-style-1";
@import "footer/layout-style-2";