.site-header {
	margin-top: 60px;
	@include media-breakpoint-up(md) {
		margin-top: 0;
		position: relative;
	}
	.contact-block {
		&__inner {
			margin-left: -15px;
			margin-right: -15px;
		}
		&__item {
			padding-left: 15px;
			padding-right: 15px;
			&:not(:last-child) {
				border-right: none;
			}
		}
		&__icon {
			@include font-size(1);
			margin-right: 13px;
		}
	}
}

.header-container {
	padding: 35px 0;
	position: relative;
	@include media-breakpoint-up(md) {
		padding: 23px 0;
	}

	.style-6 & {
		@include media-breakpoint-up(md) {
			padding: 40px 0 30px;
		}
	}

	.style-3 &,
	.style-7 & {
		@include media-breakpoint-up(md) {
			padding: 30px 0;
		}
	}

	.site-header.default &,
	.site-header.style-4 & {
		&:after {
			content: '';
			border-bottom: 1px solid $color__background-hr;
			bottom: 0;
			position: absolute;
			left: 0;
			right: 0;
		}

		&.invert {
			&:after {
				border-color: rgba($color__background-hr, .2);
			}
		}
	}

	.header-layout-boxed .site-header.style-4 &,
	.header-layout-boxed .site-header.default & {
		&:after {
			left: $grid-gutter-width/2;
			right: $grid-gutter-width/2;
		}
	}

	.site-header:not(.style-5) & {
		&.transparent {
			position: absolute;
			left: 0;
			right: 0;
			background: none;
			z-index: 90;
		}
	}
}

.header-container {
	&__flex {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: stretch;
		align-items: center;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: wrap;
			@include grid-indent(15px, 'margin');
		}

		.site-header.default &,
		.site-header.style-5 & {
			@include media-breakpoint-up(lg) {
				flex-wrap: nowrap;
			}
		}
		.site-header.style-4 & {
			@include media-breakpoint-up(xl) {
				flex-wrap: nowrap;
			}
		}
		.site-header.style-2 .header-container__bottom &,
		.site-header.style-3 & {
			@include media-breakpoint-up(md) {
				flex-wrap: nowrap;
			}
		}
	}
}

.header-container_wrap,
.top-panel__container {
	.site-header.style-3 &,
	.site-header.style-7 & {
		@include media-breakpoint-up(md) {
			max-width: inherit;
		}
	}
}

.site-header {
	.woocommerce-currency-switcher-form {
		height: auto;
		max-width: none;
		.dd-container {
			.dd-select {
				font-size: 12px;
				line-height: 35px;
			}
		}
	}
}

.header-elements-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include media-breakpoint-up(md) {
		flex-flow: row wrap;
	}
	> *:not(:last-child) {
		@include media-breakpoint-up(md) {
			margin-right: 25px;
		}
		@include media-breakpoint-up(xl) {
			margin-right: 50px;
		}
	}
}

.header-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	> *:not(.header-btn) {
		padding-left: 15px;
		padding-right: 15px;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}

	.header-btn {
		@include media-breakpoint-up(md) {
			margin-left: 25px;
		}
	}

	&.divider {
		> * + * {
			border-left: 1px solid $color__background-hr;
			.invert & {
				border-color: rgba($color__background-hr, .2);
			}
		}
		> *:not(.header-btn) {
			padding-left: 20px;
			padding-right: 20px;

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.header-search {
	.top-panel &,
	.header-container & {
		transition: border-color .3s linear;
		.site-header.search-active:not(.style-3, .style-2, .style-4) & {
			transition: border-color .1s linear;
			border-color: transparent;
		}
	}
}

.woocommerce-currency-switcher-form,
.site-header-cart,
.vertical-menu-toggle,
.header-search {
	.top-panel &,
	.header-container & {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}

@import "header/layout-style-1";
@import "header/layout-style-2";
@import "header/layout-style-3";
@import "header/layout-style-4";
@import "header/layout-style-5";
@import "header/layout-style-6";
@import "header/layout-style-7";
@import "header/top-panel";
@import "header/logo";
@import "header/sticky";
@import "header/mobile-panel";