.page-content,
.entry-content,
.entry-summary {
}

/*--------------------------------------------------------------
### Hentry (WordPress native CSS-class for post/page article)
--------------------------------------------------------------*/
.hentry {
	position: relative;

	.posts-list & {
		margin-bottom: 50px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 63px;
		}
	}

	.posts-list--default & {
		margin-bottom: 50px;

		& + .hentry {
			padding-top: 25px;
		}
	}

	.posts-list--default.featured-image--small & {
		@include media-breakpoint-up(xl) {
			display: flex;
			align-items: flex-start;

			> .post-thumbnail,
			> .post-format-wrap {
				margin-right: 30px;
				flex: 0 0 418px;
				max-width: 418px;
				margin-top: 0;
				margin-bottom: 0;
			}
			> .post-list__item-content {
				flex: 0 1 100%;
			}
		}
	}

	.posts-list--default.featured-image--small.fullwidth & {
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: flex-start;

			> .post-thumbnail,
			> .post-format-wrap {
				margin-right: 30px;
				flex: 0 0 418px;
				max-width: 418px;
				margin-top: 0;
				margin-bottom: 0;
			}
			> .post-list__item-content {
				flex: 0 1 100%;
			}
		}
	}

	.posts-list--default.featured-image--small &.format-gallery {
		@include media-breakpoint-up(xl) {
			> .post-list__item-content {
				max-width: calc(100% - 418px);
			}
		}
	}

	&.page {
	}

	.single &:not(.related-posts) {
		margin-bottom: 60px;
	}

	.search.search-results & {
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include grid-indent(15px, 'margin');
			> .entry-footer {
				flex-shrink: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
### Posts-list
--------------------------------------------------------------*/
.posts-list:not(.related-posts):last-child {
	margin-bottom: 70px;
}

/*--------------------------------------------------------------
### Entry (header, content, footer)
--------------------------------------------------------------*/
.entry {
	&-title {
		margin: 0;
	}
	&-meta {
		line-height: 2;

		.single-modern-header & {
			@include grid-indent(14px);
		}

		.single .hentry & {
			margin-bottom: 30px;
			span.material-icons-ico:before {
				margin-right: 13px;
			}
		}

		> * {
			display: inline-block;
		}
	}
	&-summary,
	&-content {
		.posts-list:not(.posts-list--default) &,
		.search.search-results & {
			> *:first-child {
				margin-top: 18px;
			}
		}
	}
	&-header {
		.search.search-results & {
			margin-bottom: 0;
		}
		.posts-list & {
			margin-bottom: 6px;
		}
		.posts-list--default &,
		.single .hentry & {
			margin-bottom: 23px;
		}

		.posts-list--default.featured-image--small & {
			margin-top: 8px;
		}
		.single-modern-header & {
			margin-bottom: 20px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 40px;
			}
		}
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		.blog &{
			margin-top: 25px;
			margin-bottom: 18px;
			.share-btns__list, .link{
				margin-top: 20px;
			}
		}

		.posts-list:not(.posts-list--default) &,
		.single .hentry & {
			> * {
			}
		}
		.single .hentry & {
			> * {
				&:first-child {
					margin-top: 55px;
				}
			}
		}
		.posts-list--default & {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			> * {
				margin-top: 15px;
				margin-bottom: 15px;
			}
			> *:first-child {
				margin-right: 10px;
			}
			> *:only-child {
				margin-right: 0;
			}
			.entry-meta:nth-last-child(3):first-child {
				margin-right: 0;
				width: 100%;
			}
		}
		.post__tags {

			a {
				margin: 6px 12px 6px 0;
				padding: 4px 13px 5px;
				display: inline-block;
				border: 1px solid transparent;
				@media(max-width: 543px) {
					display: block;
					margin: 5px 6px;
					text-align: center;
				}
			}
		}
		.single-post & {
			padding-bottom: 24px;
			.share-btns__label {
				display: inline-block;
				margin: 0;
			}
			.share-btns__list {
				.share-btns__label {
					text-transform: capitalize;
					line-height: 31px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
### Post attributes (thumbnail, meta)
--------------------------------------------------------------*/
.post {
	&-thumbnail {
		.posts-list--default.featured-image--small & {
			margin-bottom: 1em;
			@include media-breakpoint-up(lg) {
				margin-bottom: 1.5em;
			}
		}
		&__link {
			&.post-thumbnail--small {
				display: block;
				text-align: center;
				img {
					width: 100%;
				}
			}
		}
		&__img {
			display: inline-block;
			vertical-align: top;

			.single .hentry & {
				width: 100%;
			}
		}
		&--fullwidth {
			.posts-list & {
				display: block;
				margin-bottom: 1em;
				@include media-breakpoint-up(lg) {
					margin-bottom: 3.2em;
				}
			}
			.posts-list--default & {
				@include media-breakpoint-up(lg) {
					margin-top: 1.7em;
				}
			}
			img {
				width: 100%;
			}
		}
		.single .hentry.has-thumb & {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
	.entry-meta{
		border-bottom: 1px solid $color__border_meta;
		padding-bottom: 15px;
		span{
			&:before{
				margin-right: 13px;
			}
		}
	}
	.entry-header{
		margin-top: 27px;
		text-transform: uppercase;
	}
	&__terms,
	&__cats,
	&__date,
	&__comments,
	&__tags,
	&ed-by {
		display: inline-block;
		@include media-breakpoint-up(xl) {
			margin-right: 12.7%;
		}
		margin-right: 5%;

		i {
			font-size: 1.333em;
			display: inline-block;
			vertical-align: middle;
			margin-right: 6px;
			position: relative;
			.single-modern-header & {
				@include media-breakpoint-up(sm) {
					top: -3px
				}
			}
		}
		a {
			text-decoration: none;
		}
	}
	&ed-by {
		.single-modern-header & {
			margin-bottom: 20px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 40px;
			}
		}
		&__avatar {
			img {
				@include border-radius(50%);
				width: 80px;
				@include media-breakpoint-up(md) {
					width: auto;
					margin-bottom: 15px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
### Related posts
--------------------------------------------------------------*/
.single .related-posts {
	padding-top: 60px;
	border-top: 1px solid $color__background-hr;
	> .entry-title {
		margin-bottom: 40px;
	}
	.related-post {
		margin-bottom: 60px;
	}
	.post-thumbnail__img {
		width: 100%;
		height: auto;
	}
	.entry-header {
		margin-bottom: 0;
		.entry-title {
			margin-bottom: 6px;
		}
	}
	.entry-meta {
		margin-bottom: 0;
	}
	.entry-content {
		margin-top: 0;
	}
}

/*--------------------------------------------------------------
### Modern Single Post
--------------------------------------------------------------*/
.single-modern-header {
	text-align: center;
	position: relative;
	overflow: hidden;
	padding: 60px 0;
	@include media-breakpoint-up(md) {
		padding: 120px 0;
	}
	@include media-breakpoint-up(lg) {
		padding: 170px 0 200px;
	}
	&.invert {
		background-color: $color__dark;
	}
	.post-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		> img {
			object-fit: cover;
			object-position: center;
			opacity: .5;
			width: 100%;
			height: 100%;

			.ie & {
				// Fallback to ie ( polyfill: object-fit-images - ofi.js )
				font-family: 'object-fit: cover; object-position: center;'
			}
		}
	}
	.container {
		position: relative;
		z-index: 2;
	}
}

/*--------------------------------------------------------------
### Archive page
--------------------------------------------------------------*/
.archive .taxonomy-description {
	margin-bottom: 25px;
}

/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
@import "sticky";