#tm_builder_outer_content {

	.tm_pb_blurb.tm_pb_module {
		margin-bottom: 50px;
		>.tm_pb_blurb_content {
			padding: 0 15px;
			@include media-breakpoint-up(xl) {
				padding: 0 17%;
			}
		}
		.tm_pb_blurb_content {
			max-width: 100%;
			line-height: 1.6;
			p:not(:last-child){
				margin-bottom: 17px;
			}
		}

		.tm-pb-icon {
			@include font-size(2.75);
		}

		.tm-pb-icon-circle-border {
			border-width: 2px;
			border-style: solid;
		}

		.tm-pb-icon-circle {
			width: 105px;
			height: 105px;
			border-radius: 53px;
		}

		.tm_pb_link,
		.tm_pb_button{
			margin-top: 40px;
			display: inline-block;
		}
		.tm_pb_button{
			background-color: transparent;
			border-color: $color__border-button;
		}


		.tm_pb_blurb_container {

			h4 {
				padding-bottom: 0;
				margin-bottom: 17px;
			}

		}

		.tm_pb_main_blurb_image {
			width: auto;
			margin-top: 26px;
			margin-bottom: 10px;
			img {
				vertical-align: top;
			}
		}

		&.tm_pb_blurb_position_top {

			.tm_pb_main_blurb_image {
				img {
					width: 100%;
				}
			}

			.tm-pb-icon {
				padding-bottom: 23px;
				&.tm-pb-icon-circle,
				&.tm-pb-icon-circle-border {
					padding-bottom: 0;
				}
			}

			&.tm_pb_text_align_left {
				.tm-pb-icon {
					margin-left: 0;
					justify-content: flex-start;

					&.tm-pb-icon-circle,
					&.tm-pb-icon-circle-border {
						justify-content: center;
					}
				}
			}
			&.tm_pb_text_align_right {
				.tm-pb-icon {
					margin-right: 0;
					justify-content: flex-end;
					&.tm-pb-icon-circle,
					&.tm-pb-icon-circle-border {
						justify-content: center;
					}
				}
			}

		}

		&.tm_pb_blurb_position_left {

			.tm_pb_main_blurb_image {
				@include media-breakpoint-down(xs) {
					display: block;
					text-align: center;
				}

				@include media-breakpoint-up(lg) {
					padding-top: 5px;
				}
			}

			.tm_pb_blurb_container {
				@include media-breakpoint-down(xs) {
					display: block;
					padding-left: 0;
					text-align: center;
				}

				@include media-breakpoint-up(md) {
					padding-left: 15px;
				}

				@include media-breakpoint-up(lg) {
					padding-left: 30px;
				}

			}

		}

	}

	.tm_pb_blurb_position_left {
		.tm-pb-icon:not(.tm-pb-icon-circle) {
			@include font-size(2);
		}
	}

	.tm_pb_column_1_2 .tm_pb_blurb.tm_pb_module.tm_pb_blurb_position_left,
	.tm_pb_column_1_3 .tm_pb_blurb.tm_pb_module.tm_pb_blurb_position_left,
	.tm_pb_column_1_4 .tm_pb_blurb.tm_pb_module.tm_pb_blurb_position_left {
		@include media-breakpoint-between(md, lg) {
			.tm_pb_main_blurb_image {
				display: block;
			}
			.tm_pb_blurb_container {
				display: block;
				padding-left: 0;
				text-align: center;
			}
		}
	}

}
