#tm_builder_outer_content {

	.tm_pb_module,
	.tm_pb_module.tm_pb_promo {
		.tm_pb_button {
			text-decoration: none;
			@include btn;

			&:before {
				content: none;
			}

			&:after {
				@include font-size(.875);
				top: 50%;
				transform: translateY(-50%);
			}

			&:hover {
				text-decoration: none;
			}
			&:active {
				outline: 0;
			}

			&.tm_pb_custom_button_icon {
				&.tm_pb_icon_right,
				&.tm_pb_icon_left{
					padding: $button__indents;
					&:hover {
					}
				}
				&.tm_pb_icon_left:after{
					left: $button__indents_x/2;
				}
			}
		}
	}

}
