#tm_builder_outer_content {

	.tm_pb_contact_form {
		position: relative;

		.tm_contact_bottom_container {
			position: relative;
			overflow: visible;
			text-align: inherit;
			float: none;
			margin-top: 30px;
		}

		&.tm_pb_contact_form_center {
			.tm_contact_bottom_container,
			.tm_pb_contact_main_title{
				text-align: center;
			}
		}

		&_label {
			@include font-size(.875);
		}

	}

	div.tm_pb_contact_right {
		margin-right: 10px;
	}

	.tm_pb_contact_main_title {
		margin-top: 0;
		margin-bottom: 35px;
	}

	.tm_pb_contact_submit {
		margin-top: 10px;
		padding: 20px 90px!important;
	}

	.tm_pb_contact_field {
		text-align: left;
		width: 100%;
		.tm_pb_contact_form_input{
			margin: 0 0 23px 0;
			border: 1px solid $color__white;
			padding: 16.5px 20px 14.5px 30px;
			&.tm_contact_error {
				border: 1px solid $color__not-valid;
			}
		}
	}

	.cf-success-message {
		background: rgba($color__valid, .9);
		display: block;
	}

	.tm_pb_contact_form .tm-pb-contact-message {
		font-style: italic;
		margin-bottom: 1.5em;
		background: rgba($color__not-valid, .7);
		border: none;
		@include font-size(12/16);
		@include border-radius;

		> *{
			padding: 5px 5px 5px 0;

			&:first-child {
				padding-left: 15px;
			}
		}

		.tm_pb_contact_error_text {
			display: block;
		}

		p, ul { display: inline-block; margin-bottom: 0; }
		ul { margin-left: 0; }
		ul + p::before { content: ""; display: block; }
		ul li {
			display: inline-block;
			&:before {
				content: none;
			}
			& + li {
				margin-top: 0;
				&::before {
					content: ",";
					display: inline-block;
					margin-right: 3px;
					background: transparent;
					vertical-align: top;
				}
			}
		}
	}

	.invert {
		.tm_pb_contact_form {
			.tm_pb_button:hover {
				background-color: transparent;
			}
		}
	}

}
