#tm_builder_outer_content {

	.tm_pb_column_4_4 .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table {
		margin-top: 0;
		@include media-breakpoint-up(md) {
			flex: 0 0 calc(50% - #{$grid-gutter-width});
			max-width: calc(50% - #{$grid-gutter-width});
		}
		@include media-breakpoint-up(xl) {
			flex: 0 0 calc(25% - #{$grid-gutter-width});
			max-width: calc(25% - #{$grid-gutter-width});
		}
	}

	.tm_pb_column_1_2 .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table,
	.tm_pb_column_2_3 .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table {
		@include media-breakpoint-up(xl) {
			flex: 0 0 calc(50% - #{$grid-gutter-width});
			max-width: calc(50% - #{$grid-gutter-width});
		}
	}

	.tm_pb_column_3_4 .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table {
		@include media-breakpoint-up(xl) {
			flex: 0 0 calc(33.33% - #{$grid-gutter-width});
			max-width: calc(33.33% - #{$grid-gutter-width});
		}
	}
	.tm_pb_column > .tm_pb_pricing.tm_pb_module > .tm_pb_pricing_table:nth-child(n) {
		margin-top: 0;
	}

	.tm_pb_pricing.tm_pb_module {
		margin-left: -$grid-gutter-width/2;
		margin-right: -$grid-gutter-width/2;
		display: flex;
		flex-flow: row wrap;
		&:after {
			content: none;
			display: none;
		}

		.tm_pb_pricing {

			&_table {
				background-color: $color__background-input;
				padding-bottom: 43px;
				margin: 0 $grid-gutter-width/2 30px;
				float: none;
				width: calc(100% - #{$grid-gutter-width});
				flex: 0 0 calc(100% - #{$grid-gutter-width});

				&.tm_pb_featured_table {
				}
			}

			&_heading {
				padding: 0;
				margin-bottom: 0;

				.tm_pb_best_value {
					margin-top: 40px;
					font-style: italic;
				}
			}
			&_title {
				padding: 50px 5px;
				background: white;
				margin-bottom: 0;
				position: relative;
				&:before{
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 5px 0 5px;
					border-color: #ffffff transparent transparent transparent;
					position: absolute;
					bottom: -5px;
					left: 50%;
					margin-left: -5px;
				}
			}

			&_content_top {
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 60px;
				margin-top: 10px;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 40px;
					right: 40px;
					background: $color__bevider_price;
					height: 1px;
				}
				.tm_pb_frequency{
					display: block;
					font-style: italic;
					margin-top: 12px;
				}
				.tm_pb_tm_price {
					@include font-size(1);
					font-weight: 400;
					line-height: 1;
				}
				.tm_pb_dollar_sign,
				.tm_pb_sum {
					@include font-size(3.4375);
					font-weight: 700;
					line-height: 1;
				}
				.tm_pb_dollar_sign {
					position: static;
					margin-left: 0;
				}
			}

			&_content {
				padding: 43px 15px;
				@include media-breakpoint-up(xl) {
					padding: 76px 15px 69px;
				}
				@include font-size(1.25);
				ul.tm_pb_pricing {
					li{
						padding-bottom: 11.5px;
						position: relative;
						text-align: center;
						&:last-child {
							padding-bottom: 0;
						}
						&:before {
							content: '\e934';
							@include linear-icon;
							@include font-size(.875);
							line-height: 1.6em;
							top: 0;
							left: 0;
							display: none;
						}
						&.tm_pb_not_available {
							&:before {
								content: '\e935';
							}
						}
					}
				}
			}
		}
		.tm_pb_pricing {
			li{
				&:before {
					color: $color__valid;
				}
				&.tm_pb_not_available {
					&:before {
						color: $color__not-valid;
					}
				}
			}
		}
	}

}
#tm_builder_outer_content .tm_pb_module .tm_pb_button:hover{
	background-color: transparent;
}
