#tm_builder_outer_content {

	.tm_pb_promo.tm_pb_module {
		padding: 40px;
		background-position: center center;
		width: 100%;

		.tm_pb_promo_description {
			padding-bottom: 0;

			h2 {
				margin-bottom: 11px;
			}
			h5{
				text-transform: uppercase;
			}
		}
		.tm_pb_button.tm_pb_promo_button {
			margin-top: 30px;
			padding: 20px 55px;
		}

	}

	.tm_pb_column_1_2 .tm_pb_promo.tm_pb_module,
	.tm_pb_column_4_4 .tm_pb_promo.tm_pb_module {
		padding: 85px  0px!important;
		@include media-breakpoint-up(xl) {
			display: flex;
	    	justify-content: space-between;
	    	align-items: center;
    	}
	}
}
