#tm_builder_outer_content {

	.tm_pb_slider.tm_pb_module,
	.tm_pb_slider {

		&:hover {
			.tm-pb-arrow-prev {
				left: 10px;
			}
			.tm-pb-arrow-next {
				right: 10px;
			}
			@media (min-width: 1440px) {
				.tm-pb-arrow-prev {
					left: 50px;
				}

				.tm-pb-arrow-next {
					right: 50px;
				}
			}
		}

		.tm-pb-arrow {

			&-prev,
			&-next {
				@include linear-icon;
				@include font-size(12/16);
				line-height: 33px;
				width: 38px;
				height: 38px;
				text-align: center;
				margin-top: -19px;
				border: 2px solid;
				border-radius: 50%;
			}

			&-prev{
				&:before {
					content: '\f0d9';
					@include font-awesome-icon;
				}
			}


			&-next{
				&:before {
					content: '\f0da';
					@include font-awesome-icon;
				}
			}
		}

		.tm-pb-controllers {
			bottom: 8%;
			@include media-breakpoint-up(xl) {
				bottom: 14%;
			}
		}

		.tm_pb_slide_description {
			padding: 35% 0;

			.tm_pb_slide_title {
				padding-bottom: 0;
				margin-bottom: 6px;
				text-transform: capitalize;
			}

			.tm_pb_slide_content {
				@include font-size(14/16);
				h1 {
					margin-bottom: 15px;
					line-height: 1;
					text-transform: uppercase;
				}
				h2 {
					margin-top: 0;
				}
				p {
					margin-bottom: 11px;
				}
				> *:last-child {
					margin-bottom: 20px;
				}
			}
		}

		.tm_pb_more_button {
			line-height: 1;
			margin-top: 15px;
			@include media-breakpoint-up(md) {
				margin-top: 40px;
				padding: 23px 66px;
			}
		}

	}
}

#tm_builder_outer_content {
	.tm_pb_module {
		.tm-pb-controllers {
			a {
				width: 14px;
				height: 14px;
				border-radius: 50%;
				opacity: 1;
				transition: .3s;
				margin: 0 8px 5px;
				line-height: 1;
			}
		}
	}
}

#tm_builder_outer_content .tm_pb_slider .tm_pb_container {
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
}