#tm_builder_outer_content {

	.tm_pb_tabs.tm_pb_module {

		.tm_pb_tabs_controls {
			border-bottom: 1px solid $color__background-hr;
			text-align: center;
			background: transparent;

			li {
				font-weight: 400;
				@include font-size(1.25);
				letter-spacing: .75px;
				text-transform: uppercase;
				padding: 20px 17px;
				border-bottom: none;

				a { transition: .3s all ease; }

				&.tm_pb_tab_active {
					bottom: 0;
					border-bottom: none;
				}

			}

		}

		.tm_pb_all_tabs {
			padding: 60px 0 20px;

			.tm_pb_tab { }

		}

	}

}
