#tm_builder_outer_content {

	.tm_pb_taxonomy.tm_pb_module {

		> h1, >h2, >h3, >h4, >h5, >h6 {
			text-align: center;
		}

		.title-delimiter {
			margin: 30px 0;
			background-color: $color__background-hr;
			opacity: 1;
		}

		.tm_pb_taxonomy__content {
			padding: 15px;
			@include media-breakpoint-up(xl) {
				padding: 17px 20px;
			}
			&:before {
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				opacity: 0.9;
				@include transition(all 0.5s ease);
			}

			.tm_pb_taxonomy__title-wrap {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				@include grid-indent(7.5px);
			}

			.tm_pb_taxonomy__title {
				margin: 0;
				@include font-size(1);
				@include media-breakpoint-up(xl) {
					@include font-size(24/16);
				}
			}

			.post-count {
				@include font-size(12/16);
				line-height: 2;
				font-style: italic;
			}

			p {
				@include font-size(12/16);
				line-height: 1.4166666;
				margin-top: 10px;
			}


			.button--holder {
				margin-bottom: 0;
				margin-top: 5px;
			}

		}

	}

	.tm_pb_column_1_3 .tm_pb_taxonomy.tm_pb_module,
	.tm_pb_column_1_4 .tm_pb_taxonomy.tm_pb_module {
		.tm_pb_taxonomy__content .tm_pb_taxonomy__title {
			@include font-size(1);
		}
	}

}

#tm_builder_outer_content .container:first-child .tm_pb_row:first-child {
	.tm_pb_text:first-child h1:first-child,
	.tm_pb_text:first-child h2:first-child,
	.tm_pb_text:first-child h3:first-child,
	.tm_pb_cta:first-child h2:first-child {
	}

	.tm_pb_text:first-child h3:first-child,
	.tm_pb_cta:first-child h2:first-child {
		&::before {
			@include media-breakpoint-up(md) {
				margin-bottom: 43px;
			}
		}
	}

	.tm_pb_text_align_center h1,
	.tm_pb_text_align_center h2,
	.tm_pb_text_align_center h3 {
		&::before {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.tm_pb_text_align_right h1,
	.tm_pb_text_align_right h2,
	.tm_pb_text_align_right h3 {
		&::before {
			margin-left: auto;
		}
	}
}

#tm_builder_outer_content {

	.tm_pb_media_alignment_center {
		.tm_pb_slide_title {
			&::before {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.tm_pb_media_alignment_right {
		.tm_pb_slide_title {
			&::before {
				margin-left: auto;
			}
		}
	}
}

.service-header__content h2,
.single-team .team-name {

}

.service-header__content h2::before {
	@include media-breakpoint-up(md) {
		margin-bottom: 56px;
	}
}

.single-team .team-name::before {
	@include media-breakpoint-up(md) {
		margin-bottom: 35px;
	}
}

