#tm_builder_outer_content {

	.tm_pb_module.tm_pb_video_slider {
		&:hover {
			.tm-pb-arrow-prev {
			}
			.tm-pb-arrow-next {
			}
		}

		.tm-pb-slider-arrows {

			.tm-pb-arrow {
				&-prev,
				&-next {
					font-size: 20px;
					line-height: 50px;
					width: 50px;
					height: 50px;
					text-align: center;
					margin-top: -25px;
					&:before {
						display: block;
					}
				}

				&-prev {
					&:before {
						line-height: 47px;
					}
				}

				&-next {
					&:before {
						line-height: 47px;
					}
				}
			}
		}

		.tm_pb_carousel_items .tm-pb-slider-arrows {
			display: none !important;
		}

		.tm_pb_slider:hover .tm_pb_video_overlay_hover,
		.tm_pb_carousel_item.tm-pb-active-control .tm_pb_video_overlay_hover,
		.tm_pb_carousel_item .tm_pb_video_overlay_hover:hover{
			background: rgba(0, 0, 0, 0.4);
		}
	}
}