.widget-about {
	&__logo{
		text-align: center;
	}
	&__logo-img {
		vertical-align: top;
	}
	&__content {
		> *:first-child {
			margin-top: 10px;
		}
	}
	&__tagline {
		@include font-size(.75);
	}
	&__social {
		margin-top: 15px;
	}
}