.custom-posts {
	&__holder {
		margin-bottom: -35px;
	}
	&__item {
		padding-bottom: 35px;

		#tm_builder_outer_content .tm_pb_column_1_3 .tm_pb_module.tm_pb_widget_area .widget &,
		#tm_builder_outer_content .tm_pb_column_1_4 .tm_pb_module.tm_pb_widget_area .widget &{
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.post-thumbnail {
		margin-bottom: 10px;
		img {
			width: 100%;
		}
		.sidebar-1-3 .sidebar &,
		.tm_pb_column_1_3 &,
		.footer-area--2-cols & {
			@include media-breakpoint-up(xl) {
				margin-bottom: 0;
				margin-right: 20px;
				margin-top: 6px;
				img {
					margin-bottom: 15px;
				}
			}
		}
	}
	.post-content-wrap {
		.sidebar-1-3 .sidebar &,
		.tm_pb_column_1_3 &,
		.footer-area--2-cols & {
			overflow: hidden;
		}
	}
	.entry {
		&-title {
			@include sidebars-area() {
				line-height: 1.714285;
			}
		}
		&-header,
		&-content,
		&-footer {
			> * {
				margin-top: 5px;
			}
		}
	}
	&__item{
		.entry-footer{
			flex-wrap: nowrap;

		}
	}
}