.widget {
	ul {
		margin-bottom: 0;
		padding: 0;
		margin-left: 0;
		list-style: none;

		li {
			& + li,
			> ul li,
			> ol li {
				margin-top: 11px;
			}
			> ul {
				margin-left: 10px;
			}
		}
	}
}
.menu-services-container{
	ul {
		li {
			&:before {
			    content: '';
			    margin-right: 10px;
			    height: 4px;
			    width: 4px;
			    display: inline-block;
			    position: relative;
			    vertical-align: middle;
			    border-radius: 50%;
			}
		}
	}
}

/*--------------------------------------------------------------
## Widget Categories
--------------------------------------------------------------*/
.widget_categories {
	ul li{
		display: block;
		&:before {
			content: '';
			margin-right: 10px;
			height: 5px;
			width: 5px;
			display: inline-block;
			position: relative;
			vertical-align: middle;
		}
	}
}
/*--------------------------------------------------------------
## Widget Calendar
--------------------------------------------------------------*/
.widget_calendar {
	table {
		margin-bottom: 0;
		table-layout: fixed;
		width: 100%;
		border-collapse: separate;
		border-spacing: 5px;
		border: none;
		@include media-breakpoint-up(xl) {
			border-spacing: 10px;
		}
		th,
		td,
		thead th,
		tbody + tbody {
			border: none;
		}
	}
	caption {
		margin-bottom: 13px;
		text-align: left;
	}
	th {
		padding: 0 0 4px;
		font-weight: inherit;
	}
	tbody td {
		position: relative;
		@include font-size(12/16);
		padding: 0 1px;
		text-align: center;
		@include border-radius();
		line-height: 34px;
		@include media-breakpoint-up(xl) {
			line-height: 43px;
		}

		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include border-radius();
			color: inherit;
		}
	}
	tfoot td {
		padding-top: 18px;
	}
	#next {
		text-align: right;
	}
}
.widget_calendar tbody td a,
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td a {
	border: 1px solid transparent;
}

/*--------------------------------------------------------------
## Widget Tag Cloud
--------------------------------------------------------------*/
.tagcloud {
	margin: 0 -5px -10px;
	a {
		display: inline-block;
		margin: 0 5px 10px;
		padding: 12px;
		vertical-align: top;
		text-decoration: none;
		border: 1px solid;
		@include border-radius;
		@include media-breakpoint-up(lg) {
			padding: 9px 13px;
		}
		&:hover {
		}
		&:focus {}
	}
}

/*--------------------------------------------------------------
## Widget Recent Posts
--------------------------------------------------------------*/
.widget_recent_entries {
	ul li {
		a{
			font-size: 23px;
			font-weight: bold;
		}
		& + li {
			margin-top: 20px;
		}
		.post-date {
			font-size: .857em;
			display: block;
			margin-top: 6px;
			position: relative;
			text-transform: uppercase;
			&:before{
				content: '\e8b5';
				@include material-icon;
				font-size: 15px;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
}

/*--------------------------------------------------------------
## Widget Recent Comments
--------------------------------------------------------------*/
.widget_recent_comments {
	ul li {
		font-style: italic;
		font-size: .857em;
		@extend .clear;
		& + li {
			margin-top: 20px;
		}
		.comment-author-link {
			margin-right: 5px;

			& ~ a {
				font-style: normal;
				font-size: 23px;
				margin-top: 6px !important;
				font-weight: bold;
				&:before {
					content: '';
					display: block;
					margin-top: 5px;
				}
			}
		}
	}
	.footer-area & {
		li {
			color: $color__footer-meta;
		}
	}
}

/*--------------------------------------------------------------
## Widget Search
--------------------------------------------------------------*/
.widget_search {
	.sidebar & {
		.widget-title {
			margin-bottom: 1.42em;
		}
	}
}

/*--------------------------------------------------------------
## Pricing Table
--------------------------------------------------------------*/
.pricing_table{
	border-top: 1px solid $color__border_table;
	li{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid $color__border_table;
		padding: 7px 0;
		font-size: 20px;
		.price{
			padding: 10px 12px;
			@include font-size(1);
			border-left: 1px solid $color__border_table;
			@include media-breakpoint-up(xl) {
				padding: 10px 95px;
			}
		}
	}
}

/*--------------------------------------------------------------
## Widget archive
--------------------------------------------------------------*/

.widget_archive{
	select{
		width: 100%;
	}
}