.subscribe-follow {
	&__custom-bg {
		padding: 15px;
	}
	&__wrap {

		.full-width-header-area &,
		.after-content-full-width-area &,
		.before-content-area &,
		.after-content-area &,
		#tm_builder_outer_content .tm_pb_column_4_4 .tm_pb_module.tm_pb_widget_area & {
			text-align: center;

			.subscribe-block__messages {
				text-align: left;
			}

			.follow-block,
			.subscribe-block {
				max-width: 1000px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.follow-block {
	.sidebar & {
		border: 1px solid transparent;
		.social-list{
			padding: 25px 45px;
			background: $color__dark;
		}
	}
	.widget-title {
		padding: 45px 45px 0 45px;
		.sidebar & {
			&:before {
				left: 45px;
			}
		}
	}
	&__message {
		margin-bottom: 2em;
		padding: 0 45px;

	}
}

.subscribe-block {
	.sidebar & {
		padding: 45px;
		border: 1px solid transparent;
	}
	.follow-block + & {
		margin-top: 36px;
	}
	&__input-group {
		display: flex;
		align-items: flex-start;
		margin: 0 -5px -5px;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: center;
		}
		.sidebar & {
			align-items: center;
		}
	}
	&__input-wrap {
		position: relative;
		margin: 5px 5px 25px;
		flex: 0 1 auto;
		@include media-breakpoint-up(xl) {
			min-width: 765px;
			.sidebar & {
				max-width: 100%;
				min-width: 100%;
			}
		}
		min-width: 60%;

		i {
			pointer-events: none;
			position: absolute;
			top: 50%;
			font-size: 24px;
			left: 15px;
			transform: translateY(-50%);
			&.linearicon.linearicon-envelope {
				top: 48%;
			}
			@include media-breakpoint-up(md) {
				left: 25px;
			}
			.sidebar & {
				@include media-breakpoint-only(lg) {
					left: 15px
				}
			}
			.tm_pb_column_1_3 & {
				@include media-breakpoint-between(md, lg) {
					left: 15px
				}
			}
			.footer-area:not(.footer-area--fullwidth) &,
			.tm_pb_column_1_4 & {
				@include media-breakpoint-up(md) {
					left: 15px
				}
			}
			.sidebar-1-4 .sidebar & {
				@include media-breakpoint-up(lg) {
					left: 15px
				}
			}
		}

		.sidebar-1-4 .sidebar & {
			@include media-breakpoint-up(lg) {
				flex: 5 1 150px;
				min-width: 150px;
			}
		}
	}
	&__input[type='email'] {
		width: 100%;
		min-width: 50px;
		max-width: 100%;
		background: $color__white;
		border-bottom: 1px solid $color__white;
		padding: 17.5px 20px 17.5px 20px;

		&.error {
			border-color: $color__not-valid;
		}
	}
	&__submit {
		margin: 5px;
		flex: 1 0 auto;
		padding: 15px 63px;
		@include media-breakpoint-only(xs) {
			padding-left: 15px;
			padding-right: 15px;
		}
		.sidebar & {
			@include media-breakpoint-only(lg) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.tm_pb_column_1_3 & {
			@include media-breakpoint-between(md, lg) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.footer-area:not(.footer-area--fullwidth) &,
		.tm_pb_column_1_4 & {
			@include media-breakpoint-up(md) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.sidebar-1-4 .sidebar & {
			@include media-breakpoint-up(lg) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&__message {
		margin-bottom: 2.5em;
	}

	&__error,
	&__success {
		margin-top: 5px;
		@include font-size(14/16);
		line-height: 1.714285;
		font-style: italic;
	}
	&__error {
		color: $color__not-valid;
	}
	&__success {
		color: $color__valid;
	}
}