.cherry-ui-kit button * {
  pointer-events: none; }

.cherry-component__content .cherry-settings__content {
  display: none; }
  .cherry-component__content .cherry-settings__content.show {
    display: inherit; }
