$color__background-body:   #ffffff;
$color__background-screen: #f6f5f3;
$color__background-hr:     #ECECEE;
$color__background-input:  #f8f8f8;
$color__background-pre:    #eee;

$color__white: #ffffff;
$color__dark: #000000;

$color__bg-preloader-cover: #ffffff;

$color__text-screen: #21759b;
$color__text-input:  #777;
$color__map:#c7c7c7;

$color__border_table: #e1e1e1;
$color__border_form: #4c4c4c;
$color__bevider_price: #4e4e4e;
$color__border-button: #E0E0E2;
$color__border-input:  #ECECEE;
$color__border_subscribe: #c1c1c1;
$color__border_meta: #e5e5e5;
$color__border-abbr:   #666;
$color__border-table:  $color__background-hr;
$color__border-pre:    darken( $color__background-pre, 10% );

$color__not-valid: #FF596D;
$color__valid:     #2FD3AE;

$color__bg-meta-divider: #aaa;
$color__footer-meta: $color__text-input;
