@mixin text_input {
	padding: 17.5px 20px;
	border: 1px solid transparent;
	@include font-size(0.875);
	@include transition(.3s ease all);
	line-height: 1.2143;
	font-style: italic;
	border-radius: $border__radius;
	font-weight: 300;
	&:focus {
		outline: 0;
		border-color: $color__background-hr;
		background-color: transparent;
	}
}

@mixin btn_submit {
	display: inline-block;
	max-width: 100%;
	padding: 23px 37.5px;
	border: none;
	@include transition(.3s ease all);
	@include font-size(0.75);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.72px;
	border-radius: $border__radius;
	line-height: 1;
	font-style: normal;
	width: auto;
}
