/* #Contact-information*/
.contact-information-widget .icon {
	color: $regular_accent_color_1;
}

.invert .contact-information-widget .icon {
	color: $regular_link_hover_color;
}

.invert .contact-information-widget .contact-information-widget__inner li a {
	color: $invert_text_color;
}

.invert .contact-information-widget .contact-information-widget__inner li a:hover {
	color: $regular_link_color;
}

.contact-information-widget {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size:$h6_font_size{px};
	line-height:$h6_line_height;
	font-family:@font_family($h6_font_family);
	letter-spacing:$h6_letter_spacing{em};
	text-align:$h6_text_align;
}

.footer-area-wrap .contact-information-widget {
	font-family: @font_family($h1_font_family);
}

.contact-information-widget:not(.footer-area-wrap) .contact-information-widget__inner li, .contact-information-widget:not(.footer-area-wrap) .contact-information-widget__inner li a {
	color: $regular_accent_color_4
}
.invert .contact-information-widget:not(.footer-area-wrap) .contact-information-widget__inner li, 
.invert .contact-information-widget:not(.footer-area-wrap) .contact-information-widget__inner li a {
	color: $invert_text_color;
}


.contact-information-widget .contact-information-widget__inner li a:hover {
	color: $regular_link_color;
}

.footer-area-wrap .contact-information-widget .contact-information-widget__inner li a:hover {
	color:  $regular_link_color;
}

.contact-information-widget:not(.footer-area-wrap) li span {
	font-size:$h6_font_size{px};
}