.subscribe-block__input {
	color: $regular_text_color;
}

.subscribe-block__input-wrap i {
	color: @lighten($regular_text_color, 25%);
}

.subscribe-block__input-group a {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family($h6_font_family);
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
}

.sidebar .follow-block, .sidebar .subscribe-block {
	border-color: $regular_link_color;
}

.sidebar .follow-block .social-list {
	background-color: $regular_accent_color_4;
}

.sidebar .follow-block .social-list a {
	color: $invert_accent_color_1;
}

.sidebar .follow-block .social-list a:hover {
	color: $regular_link_color;
}