/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
.not-found {

	text-align: center;

	&.error-404 {
		margin: 70px 0;
		@include media-breakpoint-up(md) {
			margin: 80px 0;
		}

		.btn {
			margin-top: 35px;
		}
	}
	&.no-results {
		margin: 80px 0;
		@include media-breakpoint-up(md) {
			margin: 100px 0;
		}
	}

	.page-title {
		margin: 0 0 20px 0;
		@include media-breakpoint-up(lg) {
			margin: 0 0 35px 0;
		}
	}
	.search-form {
		max-width: 800px;
		margin: 35px auto 0;
	}
}

body.error404 .site-content{
	background-size: cover;
}