.services-container .cherry-services-filter_link {
	color: $regular_link_hover_color;
}

.services-container .cherry-services-filter_link:hover,
.services-container .cherry-services-filter_item.active .cherry-services-filter_link {
	color: $regular_link_color;
}

.cherry-services .service-icon {
	color: $regular_accent_color_1;
}

.service-features_label {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.cherry-services .cherry-spinner-double-bounce .cherry-double-bounce1,
.cherry-services .cherry-spinner-double-bounce .cherry-double-bounce2 {
	background-color: $regular_accent_color_1;
}

.cherry-services .service-header {
	background-color: $regular_accent_color_2;
}

.cherry-services .services-listing .count::before {
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: @font_size($h1_font_size, multiple, ceil, 0.5)px;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{em};
	color: $regular_accent_color_1;
}

@media (min-width: 992px) {
	.cherry-services .services-listing .count::before { font-size: $h1_font_size{px}; }
}

.template-media-thumb .items_wraper .content-block .title_wrap .services-macros a{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 0.75)px;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}
@media (min-width: 992px) {
	.template-media-thumb .items_wraper .content-block .title_wrap .services-macros a{
		font-size: @font_size($h6_font_size, multiple, ceil, 1.1)px;
	}
}
.template-media-thumb .items_wraper .content-block .title_wrap .services-macros a:hover{
	color: $regular_link_color;
}

.cherry-services-template-default.single.single-cherry-services .site-content_wrap.container .service-content .services-macros:before, .cherry-services-template-default.single.single-cherry-services .services-single-item .cta_wrap .service-cta.cta-type-button .service-cta_title:before{
	background-color: $regular_link_color;
}

.cherry-services-template-default.single.single-cherry-services .services-single-item .cta_wrap .service-cta, .cherry-services-template-default.single.single-cherry-services .services-single-item .cta_wrap .service-cta h3{
	color: $invert_accent_color_1;
}

.cta-button{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	font-family: @font_family( $h6_font_family );
}

.template-default .services-listing .services-item .btn{
	border-color: $regular_link_color;
	color: $regular_link_color;
	background-color: $invert_accent_color_1;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	font-family: @font_family( $h6_font_family );
}

.template-default .services-listing .services-item .btn:hover{
	border-color: $regular_link_hover_color;
	color: $invert_accent_color_1;
	background-color: $regular_link_hover_color;
}
