.cherry-team.team-wrap.template-grid-boxes .team-listing_content{
	background-color: @alpha( $regular_accent_color_2, 90 );
}

.cherry-team.team-wrap.template-grid-boxes .team-listing_content a:hover,
.team-container .cherry-team-filter_link {
	color: $regular_link_hover_color;
}

.cherry-team.team-wrap.template-grid-boxes-2 .team-listing_image:before,
.team-skills_bar {
	background-color: $regular_accent_color_3;
}

.team-container .cherry-team-filter_link:hover,
.team-container .cherry-team-filter_item.active .cherry-team-filter_link {
	color: $regular_link_color;
}

.team-skills_label,
.team-skills_line:before{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.team-heading_subtitle {
	color: $regular_text_color;
}

.cherry-team.team-wrap .team-listing_position,
.cherry-team.team-wrap.template-single .team-meta{
	font-style: $meta_font_style;
}

.team-meta_item {
	color: $regular_accent_color_1;
}

.template-grid-boxes .team-meta_item {
	color: $invert_accent_color_1;
}

.template-grid-boxes-2 .team-item .team-item_inner_wrapper{
	background: $invert_accent_color_1;
}

.template-grid-boxes-2 .team-listing_name a{
	color: $regular_link_color;
}

.template-grid-boxes-2 .team-listing_name a:hover{
	color: $regular_link_hover_color;
}
.template-grid-boxes-2 .team-meta_item.position{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 0.7)px;
	line-height: $h4_line_height;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $invert_accent_color_2;
}
.cherry-team.team-wrap.template-grid-boxes-2 .team-listing .team-listing_position:before{
	background-color: $regular_link_color;
}

.cherry-team.team-wrap.template-grid-boxes-2 .team-listing .team-listing_position:after{
	background-color: $invert_accent_color_1;
}

.cherry-team.team-wrap.template-grid-boxes-2 .team-listing .team-listing_image{
	border-color: $regular_link_hover_color;
}