.tm-testi .tm-testi__item-name {
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	letter-spacing: $h6_letter_spacing{em};
	font-family: @font_family( $body_font_family );
	color: $regular_h6_color;
}

.tm-testi blockquote {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	color: $regular_text_color;
}

.tm_pb_cherry_testi blockquote::before {
	color: $regular_accent_color_1;
}

.tm-testi__item-body cite:before{
	color: $regular_h6_color;
}

.tm-testi .swiper-container-3d .swiper-slide-shadow-left,
.tm-testi .swiper-container-3d .swiper-slide-shadow-right {
	background-color: $regular_accent_color_3;
}

.tm-testi--speech-bubble .tm-testi__item-body p:before {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_cherry_testi .tm-testi__item .tm-testi-image-left blockquote .testi-wrap .tm-testi__item-body p:before{
	color: $regular_link_color;
}
