.breadcrumbs {
	position: relative;
	padding: 2px 0;
	border: 1px solid $color__background-hr;
	.row{
		justify-content: space-between;
		align-items: center;
		.breadcrumbs__wrap{
			position: relative;
			&:before{
				content: '\e88a';
				font-family: 'Material-Icons';
				font-size: 15px;
				margin-right: 13px;
				vertical-align: middle;
			}
		}
	}
	&__title,
	&__items {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
	&__title {
		.page-title {
			margin: 0;
		}
	}
	&__browse {
		margin-right: .5em;
	}
	&__wrap {
		margin: 5px 0;
	}
	&__item {
		display: inline-block;
		text-transform: uppercase;
		&-sep {
		}
		&-link {
			text-decoration: none;
		}
	}
}
