.comment-navigation,
.posts-navigation,
.post-navigation {
	overflow: hidden;
	padding-top: 60px;
	margin-bottom: 60px;
	.nav-previous,
	.nav-next {
		line-height: 1;
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: 50%;
		}
		> a {
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			@include font-size(1);
			line-height: 1.7;
			position: relative;
			border: 1px solid transparent;
			padding: 5px 5px 6px;
		}
	}

	.nav-previous {
		float: left;
		padding-right: 10px;
		> a {
		}
	}
	.nav-next {
		float: right;
		text-align: right;
		padding-left: 10px;
		margin-top: 25px;
		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		> a {
		}
	}
}

/*Post pagination*/
.pagination {
	padding: 70px 0 5px;
	margin-bottom: 60px;
	border-top: 1px solid $color__background-hr;
	.posts-list:not(.posts-list--default) + & {
		text-align: center;
	}
}
.site-content .page-numbers,
#tm_builder_outer_content .pagination .page-numbers {
	line-height: 50px;
	display: inline-block;
	min-width: 50px;
	height: 50px;
	margin: 0 5px 5px 0;
	padding: 0 2px;
	text-align: center;
	text-decoration: none;
	border: 1px solid;

	@include font-size(.75);
	@include border-radius;

	&.dots {}

	&.next,
	&.prev {
		min-width: 30px;
		border: none;
		background: none;
		i {
			vertical-align: middle;
			@include font-size(.875);
		}
	}
}

.site-content a.page-numbers:hover,
.site-content .page-numbers.current,
#tm_builder_outer_content .pagination a.page-numbers:hover,
#tm_builder_outer_content .pagination .page-numbers.current {

}

/*Page links*/
.site-content .page-links {
	clear: both;
	margin: 0 0 1em;
	&__title {
		margin-right: 5px;
	}
	a,
	> .page-links__item {
		line-height: 50px;
		display: inline-block;
		min-width: 50px;
		height: 50px;
		margin: 0 5px 5px 0;
		padding: 0 2px;
		text-align: center;
		text-decoration: none;
		border: 1px solid $color__background-hr;

		@include font-size(.75);
		@include border-radius;
	}
}
.site-content .page-numbers.next:hover,
.site-content .page-numbers.prev:hover,
#tm_builder_outer_content .pagination .page-numbers.next:hover,
#tm_builder_outer_content .pagination .page-numbers.prev:hover{
	background: transparent;
}