.contact-block {
	&__inner {
		@include grid-indent(20px);
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			flex-wrap: wrap;
		}
		.site-footer.style-2 & {
			flex-direction: column;
			align-items: center;
		}
		.site-header & {
			@include media-breakpoint-up(md) {
				flex-direction: row;
				flex-wrap: wrap;
				@include grid-indent(10px);
			}
			@include media-breakpoint-up(xl) {
				@include grid-indent(30px);
			}
		}
	}
	&__item {
		padding-top: 5px;
		padding-bottom: 5px;
		position: relative;
		@include media-breakpoint-up(lg) {
			&:not(:last-child) {
				border-right: 1px solid $color__background-hr;
			}
		}
		.site-header & {
			@include media-breakpoint-up(md) {
				&:not(:last-child) {
					border-right: 1px solid $color__background-hr;
				}
			}
		}
		.site-footer.style-2 & {
			border-right: none;
		}

		.invert & {
			&:not(:last-child) {
				border-color: rgba( $color__background-hr, .2 );
			}
		}

		& + .contact-block__item {
			.site-header & {
				margin-top: 10px;
				@include media-breakpoint-up(md) {
					margin-top: 0;
				}
			}
			.site-footer.style-2 & {
				margin-top: 1px;
			}
		}

		a {
			display: inline-block;
		}
		&--icon {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&:not(.contact-block__item--icon) {
			text-align: center;
			@include media-breakpoint-up(lg) {
				text-align: left;
			}
		}
	}
	&__icon {
		@include font-size(1.5);
		margin-right: 13px;
		.site-header & {
			@include media-breakpoint-only(md) {
				margin-right: 10px;
			}
		}
	}
	&__text {
		text-align: left;
	}
	&__label {
		padding-right: 4px;
	}
	&__text,
	&__label {
		.site-header & {
			line-height: 1.5;
			@include font-size(.875);
		}

		.site-header .header-container & {
			display: block;
		}
		.top-panel & {
			display: inline-block;
		}
	}
}