#tm_builder_outer_content .tm_link_content,
#tm_builder_outer_content .tm_audio_content {
	background-color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_link_content h2,
#tm_builder_outer_content .tm_audio_content h2 {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 0.9333)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}

#tm_builder_outer_content .tm_audio_content h2 a:hover {
	color: $regular_link_hover_color;
}

@media (min-width: 992px) {
	#tm_builder_outer_content .tm_link_content h2 { font-size: $h4_font_size{px}; }
}

#tm_builder_outer_content .tm_pb_post .tm_link_content a:hover {
	color: $regular_link_hover_color;
}

#tm_builder_outer_content .tm_link_content a.tm_link_main_url:hover  {
	color: $regular_link_hover_color !important;
}

#tm_builder_outer_content .tm_quote_content {
	background-color: $regular_accent_color_3;
}

#tm_builder_outer_content .tm_pb_post .tm_quote_content blockquote p{
	color: $regular_accent_color_2 !important;
}

#tm_builder_outer_content .tm_pb_post .tm_quote_content blockquote cite {
	color: $regular_text_color !important;
}

#tm_builder_outer_content .tm_pb_blog .more-link {
	color: $regular_link_hover_color;
}

#tm_builder_outer_content .tm_pb_blog .more-link:hover {
	color: $regular_link_color;
}

#tm_builder_outer_content .tm_pb_blog .tm_pb_post .entry-title a{
	font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	letter-spacing: $h3_letter_spacing{em};
}

#tm_builder_outer_content .tm_pb_blog .tm_pb_post .entry-title a:hover{
	color: $regular_link_color;
}

