#tm_builder_outer_content .tm_pb_module.tm_pb_button{
	border-color: $regular_accent_color_1;
	background-color: $regular_accent_color_1;
	color: $invert_link_color;
}
#tm_builder_outer_content .tm_pb_button:hover{
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_button:after,
#tm_builder_outer_content .tm_pb_button:hover:after{
	color: $invert_link_color;
}

#tm_builder_outer_content .tm_pb_module .tm_pb_button {
	color: $invert_accent_color_1;
	border-color: $regular_link_color;
	font-family: @font_family( $h6_font_family );
}

#tm_builder_outer_content .tm_pb_module .tm_pb_pricing_table_button {
	color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
	font-family: @font_family( $h6_font_family );
}

#tm_builder_outer_content .tm_pb_module .tm_pb_button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm_pb_module .invert.tm_pb_button{
	color: $invert_accent_color_1;
	background-color: $regular_link_hover_color;
	border-color: $regular_link_hover_color;
}
#tm_builder_outer_content .tm_pb_module .invert.tm_pb_button:hover{
	color: $regular_link_hover_color;
	background-color: transparent;
	border-color: $regular_link_hover_color;
}