#tm_builder_outer_content .tm_pb_countdown_timer_container,
#tm_builder_outer_content .tm_pb_countdown_timer_container h4 {
	color: $invert_accent_color_1;
}

#tm_builder_outer_content .tm_pb_countdown_timer_circle_layout .tm_pb_countdown_timer_container h4 {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 0.6)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
}

@media (min-width: 992px) {
	#tm_builder_outer_content .tm_pb_countdown_timer_circle_layout .tm_pb_countdown_timer_container h4 { font-size: $h2_font_size{px}; }
}