#tm_builder_outer_content .tm_pb_promo {
	color: $invert_text_color;
}
#tm_builder_outer_content .tm_pb_promo h2{
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 0.6)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h2_letter_spacing{em};
	color: $invert_h2_color;
}
@media (min-width: 992px) {
	#tm_builder_outer_content .tm_pb_promo h2 { font-size: $h2_font_size{px}; }
}

#tm_builder_outer_content .tm_pb_module.tm_pb_promo .tm_pb_button {
	border-color: $invert_link_color;
	background-color: $invert_link_color;
	color: $regular_link_color;
	font-family: @font_family( $h6_font_family );
}
#tm_builder_outer_content .tm_pb_module.tm_pb_promo .tm_pb_button:hover{
	background-color: $regular_link_hover_color;
	border-color: $regular_link_hover_color;
	color: $invert_link_color;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_promo_button:after,
#tm_builder_outer_content .tm_pb_button.tm_pb_promo_button:hover:after{
	color: $invert_link_color;
}

#tm_builder_outer_content .tm_pb_promo.tm_pb_module .tm_pb_promo_description h1,
#tm_builder_outer_content .tm_pb_promo.tm_pb_module .tm_pb_promo_description h3,
#tm_builder_outer_content .tm_pb_promo.tm_pb_module .tm_pb_promo_description h4,
#tm_builder_outer_content .tm_pb_promo.tm_pb_module .tm_pb_promo_description h5,
#tm_builder_outer_content .tm_pb_promo.tm_pb_module .tm_pb_promo_description h6,
#tm_builder_outer_content .tm_pb_promo.tm_pb_module .tm_pb_promo_description p {
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_cta:first-child h2:first-child::before {
	background-color: $invert_text_color;
}