#tm_builder_outer_content .tm_pb_pricing_heading h2{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	color: $regular_h5_color;
}

#tm_builder_outer_content .tm_pb_pricing_heading .tm_pb_best_value, #tm_builder_outer_content .tm_pb_frequency, #tm_builder_outer_content .tm_pb_pricing li span {
	color: $invert_accent_color_3;
}

#tm_builder_outer_content .tm_pb_pricing .tm_pb_tm_price {
	color: $regular_text_color;
}

#tm_builder_outer_content .tm_pb_pricing .tm_pb_dollar_sign,
#tm_builder_outer_content .tm_pb_pricing .tm_pb_sum,
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_blurb_content ul:not([class]) li:before{
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table.tm_pb_featured_table .tm_pb_pricing_content_top .tm_pb_dollar_sign, #tm_builder_outer_content .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table.tm_pb_featured_table .tm_pb_pricing_content_top .tm_pb_sum{
	color: $invert_accent_color_1!important;
}

#tm_builder_outer_content .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table.tm_pb_featured_table .tm_pb_pricing_heading .tm_pb_pricing_title{
	background-color: $regular_link_color;
	color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm_pb_pricing.tm_pb_module .tm_pb_pricing_table.tm_pb_featured_table .tm_pb_pricing_heading .tm_pb_pricing_title:before{
	border-color: $regular_link_color transparent transparent;
}