#tm_builder_outer_content .tm_pb_module .tm-pb-controllers a {
	background-color: @alpha( $regular_accent_color_2, 30 );
}

#tm_builder_outer_content .tm_pb_module .tm-pb-controllers a:hover,
#tm_builder_outer_content .tm_pb_module .tm-pb-controllers a.tm-pb-active-control {
	background-color: $regular_accent_color_1;
}

.tm-pb-slider-arrows {
	color: @lighten($regular_text_color, 25%);
}
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev {
	color: $regular_text_color;
	border-color: $regular_link_color!important;
}
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next:hover,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev:hover {
	background-color: $regular_link_color;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_more_button{
	border-color: $regular_link_hover_color;
	background-color: $regular_link_hover_color;
	color: $invert_link_color;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
}
#tm_builder_outer_content .tm_pb_button.tm_pb_more_button:hover{
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_more_button:after,
#tm_builder_outer_content .tm_pb_button.tm_pb_more_button:hover:after{
	color: $invert_link_color;
}

#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_slide_content {
	font-weight: $body_font_weight;
}

#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_slide_title{
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 0.6)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	color: $regular_h2_color;
}

@media (min-width: 992px) {
	#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_slide_title { font-size: $h2_font_size{px};
	}
}

@media (min-width: 1200px) {
	#tm_builder_outer_content .tm_pb_slider .tm_pb_container {
		max-width: $container_width{px};
	}
}