#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-next,
#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-prev {
	color: @lighten($regular_text_color, 25%);
}

#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-next:hover,
#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-prev:hover {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_video_slider .tm_pb_slider_dots.tm_pb_controls_light+.tm-pb-controllers a {
	background-color: @alpha( $regular_accent_color_2, 30 );
}

#tm_builder_outer_content .tm_pb_video_slider .tm_pb_slider_dots.tm_pb_controls_light+.tm-pb-controllers a:hover,
#tm_builder_outer_content .tm_pb_video_slider .tm_pb_slider_dots.tm_pb_controls_light+.tm-pb-controllers a.tm-pb-active-control {
	background-color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_video_slider .tm_pb_slider .tm-pb-arrow-next,
#tm_builder_outer_content .tm_pb_video_slider .tm_pb_slider .tm-pb-arrow-prev {
	color: $regular_link_hover_color!important;
}