.cherry-ui-container {
  margin: 10px 0 20px 0; }
  .cherry-ui-container .cherry-ui-container {
    margin: 0; }

label.cherry-label {
  margin: 0 0 5px 0;
  display: block; }

.cherry-slider-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .cherry-slider-wrap .cherry-slider-input {
    -webkit-flex: 0 1 10%;
    -ms-flex: 0 1 10%;
    flex: 0 1 10%;
    min-width: 100px;
    max-width: 200px; }
  .cherry-slider-wrap .cherry-slider-holder {
    -webkit-flex: 0 1 90%;
    -ms-flex: 0 1 90%;
    flex: 0 1 90%;
    min-width: 200px;
    max-width: 300px;
    margin-right: 20px; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 20px 0; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]:focus {
      outline: none; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      box-shadow: none;
      background: #48c569;
      border-radius: 25px;
      border: none; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-webkit-slider-thumb {
      box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.18);
      border: 5px solid #48c569;
      height: 20px;
      width: 20px;
      margin-top: -7px;
      border-radius: 15px;
      background: #48c569;
      cursor: pointer;
      -webkit-appearance: none;
      transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]:focus::-webkit-slider-thumb {
      background: #f1f1f1;
      height: 28px;
      width: 28px;
      margin-top: -11.5px; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]:hover::-webkit-slider-thumb {
      background: #f1f1f1;
      height: 28px;
      width: 28px;
      margin-top: -11.5px; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]:focus::-webkit-slider-runnable-track {
      background: #48c569; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-moz-range-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      box-shadow: none;
      background: #48c569;
      border-radius: 25px;
      border: none; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-moz-range-thumb {
      box-shadow: none;
      border: none;
      height: 28px;
      width: 28px;
      border-radius: 15px;
      background: #48c569;
      cursor: pointer; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-ms-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      background: #f1f1f1;
      border-color: transparent;
      color: transparent; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-ms-fill-lower {
      background: #f1f1f1;
      border: none;
      border-radius: 50px;
      box-shadow: none; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-ms-fill-upper {
      background: #48c569;
      border: none;
      border-radius: 50px;
      box-shadow: none; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]::-ms-thumb {
      box-shadow: none;
      border: none;
      height: 10px;
      width: 10px;
      border-radius: 15px;
      background: #495159;
      cursor: pointer; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]:focus::-ms-fill-lower {
      background: #f1f1f1; }
    .cherry-slider-wrap .cherry-slider-holder input[type=range]:focus::-ms-fill-upper {
      background: #48c569; }
  .cherry-slider-wrap .cherry-input {
    margin: 0;
    width: 100%; }
