button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@include btn;
}

// General styles
.btn {
	text-decoration: none;
	@include btn;

	&:hover {
		text-decoration: none;
	}
	&:active {
		outline: 0;
		box-shadow: 0 0 10px;
	}
	&-fullwidth {
		width: 100%;
	}

	&.btn-default {
		background-color: transparent;
		border-color: $color__border-button;
	}
}

.invert .btn,
.invert .btn-primary,
.invert .btn-secondary,
.invert .btn-default,
.error-404 .btn-secondary:hover {
	background-color: transparent;
}

.link {
	@include btn;
	text-transform: uppercase;
	padding: 16px 25px;
	@media(min-width: 1400px) {
		padding: 16px 61px;
	}
	.custom-posts &{
		padding: 5px 10px;
	}
	&:hover {
	}
	.linearicon {
		display: none;
	}
}