input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	padding: $input__indents_y $input__indents_x;
	border:none;
	border-bottom: 1px solid $color__background-input;
	background-color: transparent;
	@include font-size(20/16);
	line-height: 1.2143;
	transition: .3s;

	i + &.comment-form__field,
	.wpcf7 i + .wpcf7-form-control-wrap > & {
		padding-left: $input__indents_x + 35px;
	}

	@include border-radius;
	&:focus {
		outline: 0;
		background-color: transparent;
	}
	.invert &:focus,
	.tm_pb_with_background &:focus {
	}
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
	-webkit-appearance: none;
	appearance: none;
}

input[type='file'] {
	@include font-size(14/16);
	line-height: 1.2143;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'] {
	hyphens: none;
}

button,
input[type='submit'],
input[type='reset'] {
	&:focus {
		outline: 0;
	}
}

input[type='text'],
input[type='email'],
textarea {
	padding: 20.5px 20px 20.5px 5px;
	border-bottom: 1px solid $color__border_subscribe;
	letter-spacing: 0.08em;
	.invert &{
		color: $color__white;
	}
}
.invert input[type='text'],
.invert input[type='email'],
.invert textarea{
	border-bottom: 1px solid $color__white;
}
select {
	border: 1px solid $color__border-input;
	max-width: 100%;
}

textarea {
	width: 100%;
	height: 215px;
	min-height: 215px;

	@include resizable(vertical);
}


::-moz-placeholder { opacity: 1; }
:-moz-placeholder { opacity: 1; }