/* Change default indent to Cherry Service List Grid System */
.cherry-services.services-wrap {
	.cherry-services-row {
		margin-left: ($grid-gutter-width / -2);
		margin-right: ($grid-gutter-width / -2);
	}
	&.services-collapse-rows {
		.cherry-services-row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

/* Services item */
.cherry-services {
	.services-item {
		padding-bottom: 50px;
		.title_wrap{
			text-transform: uppercase;
			margin-top: 21px;
			margin-bottom: 20px;
			h5{
				font-size: 23px;
			}
		}
		* + .content_wrap {
			margin-top: 40px;
		}

		* + .btn {
			margin-top: 35px;

			@include media-breakpoint-up(xl) {
				margin-top: 67px;
				padding: 20px 63px;
			}
		}
	}

	.service-icon {
		text-align: center;
		@media (min-width: 545px) {
			text-align: left;
		}
		i {
			@include font-size(2.75);
		}
	}

	&.template-media-icon-float {
		.services-item {
			display: flex;
			flex-wrap: wrap;
			text-align: left;
			.icon-block {
				flex-shrink: 0;
				flex-grow: 0;
				.icon_wrap {
					padding-right: 30px;
				}
			}
			.content-block {
				flex: 1 1 200px;
			}
			.service-icon {
				margin-bottom: 30px;
				i {
					@include font-size(2);
				}
			}

		}
	}
}

.template-media-thumb {
	.items_wraper {
		padding: 0 7px;
		text-align: center;
		@media(min-width: 768px) and(max-width: 991px) {
			padding-bottom: 8%;
		}
		@media(min-width: 992px) and(max-width: 1199px) {
			padding-bottom: 5%;
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: 0;
		}
		.thumb-block {
			flex: 0 1 25px;
			min-width: 25px;
		}
		.content-block {
			flex: 0 1 auto;
			.title_wrap {
				text-transform: uppercase;
			}
		}
	}
}

.services-single-item {

	> *:not(:first-child) {
		margin-top: 20px;
	}

	.service-features_row + .service-features_row {
		margin-top: 20px;
	}

	.cta_wrap .service-cta {
		&.cta-type-button {
			padding: 20px;
		}
	}

	.cta-form_success {
		padding: 5px 15px;
		border: none;
		@include font-size(.875);
		@include border-radius;
		font-style: italic;
		color: $color__dark;
		background: rgba($color__valid, .12);
		margin-bottom: 1.5em;
	}

	.testi_wrap .tm-testi--default,
	.testi_wrap .tm-testi--default-without-icon {
		.tm-testi__item {
			margin-top: 0;
			margin-bottom: 40px;

			&.col-md-6,
			&.col-md-4,
			&.col-md-3 {
				blockquote {
					text-align: left;
				}
			}
		}
	}
	.testi_wrap .tm-testi--speech-bubble {
		.tm-testi__item {
			blockquote {
				text-align: left;
			}
		}
	}
}

#tm_builder_outer_content .cherry-services {
	&.template-media-icon-float {
		.services-item {
			display: flex;

			&:after {
				content: none;
			}
		}
	}
}

/* Filters and loaders */
.cherry-services {
	position: relative;
	.services-listing {
		transition: all 300ms linear;
		opacity: 1;
	}
	&.in-progress {
		.services-listing {
			opacity: 0;
		}
	}

	.services-loader {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%);

		.cherry-spinner {
			width: 90px;
			height: 90px;
			left: 50%;
			top: 50%;
			margin-left: -45px;
			margin-top: -45px;
			display: block;
			position: relative;
		}
		&.loader-small {
			bottom: 0;
			top: auto;
			.cherry-spinner {
				width: 40px;
				height: 40px;
				margin-left: -20px;
				margin-top: -20px;
			}
		}
	}
}

#tm_builder_outer_content .services-container .cherry-services-filter {
	text-align: center;
}

.services-container {
	.cherry-services-filter {
		text-align: center;
		border-bottom: 1px solid $color__background-hr;
		padding: 0 0 20px;
		margin-bottom: 50px;

		&_item {
			margin: 0;
		}

		&_link {
			@include font-size(.75);
			text-transform: uppercase;
			border: none;
			font-weight: 400;
			letter-spacing: .72px;
			padding: 0 17px;
		}
	}

	.services-ajax-pager {
		.archive & {
			margin: 0;
			padding: 70px 0 5px;
			border-top: 1px solid $color__background-hr;
		}
	}

	.nav-links {
		text-align: center;

		.page-numbers.current {
			pointer-events: none;
		}
	}
}

/* Single Service */
.cherry-services {
	.single-cherry-services & {
		@include media-breakpoint-up(xl) {
			margin-bottom: 116px;
		}
	}
	.services-single-item {
		.cta-form_success {
			@include font-size(1);
			@include border-radius;
			background: rgba($color__valid, .25);
		}
	}

	.services-listing {
		counter-reset: count;
		.count {
			display: block;
			&::before {
				line-height: 1;
				counter-increment: count;
				content: counter(count, decimal-leading-zero) ".";
			}
		}

		* + .title_wrap {
			margin-top: 26px;
		}

		* + .descr_wrap {
			margin-top: 22px;
		}

		.services-item {
			@include media-breakpoint-up(xl) {
				padding-bottom: 76px;
			}
			padding-bottom: 50px;
		}
	}

	&.template-single {
		hr {
			margin-left: auto;
			margin-right: auto;
		}

		.features_wrap {
			margin-top: 35px;
		}

		.service-features_title {
			margin-bottom: 17px;
		}

		.service-features_row + .service-features_row {
			margin-top: 1px;
		}

		.cta_wrap {
			margin-top: 80px;
			@include media-breakpoint-up(xl) {
				margin-top: 105px;
			}
		}

		.service-header {
			position: relative;
			overflow: hidden;
			padding: 60px 0;
			margin-bottom: 80px;
			text-align: center;
			@include media-breakpoint-up(md) {
				padding: 120px 0;
				margin-bottom: 120px;
			}
			@include media-breakpoint-up(xl) {
				padding: 209px 0 259px;
				margin-bottom: 95px;
			}

			.position-fullwidth & {
				width: 100vw;
				left: 50%;
				transform: translateX(-50%);
			}

			&__image {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				img {
					object-fit: cover;
					object-position: center;
					opacity: .4;
					width: 100%;
					height: 100%;
					.ie & {
						// Fallback to ie ( polyfill: object-fit-images - ofi.js )
						font-family: 'object-fit: cover; object-position: center;'
					}
				}
			}

			&__content {
				position: relative;
				z-index: 2;

				.title_wrap {
					display: inline-block;
					max-width: 600px;
				}
			}
		}
	}
}

.cherry-services-template-default.single.single-cherry-services {
	.site-main, .hentry, .cherry-services{
		margin-bottom: 0;
	}
	.site-content_wrap.container {
		max-width: none;
		padding: 0;
		margin: 0;
		#primary {
			left: 0;
			max-width: 100%;
			flex: 1 1 100%;
		}
		.service-content {
			.title_wrap h4 {
				position: relative;
				margin-bottom: 70px;
				&:before {
					content: '';
					width: 23px;
					height: 3px;
					position: absolute;
					left: 0;
					bottom: -25px;
				}
			}
			.title_wrap, .content_wrap, .service-cta_title,.cta-button-wrap {
				margin: 0 auto;
				max-width: 1200px;
			}
			.service-cta_desc{
				max-width: 580px;
				margin: 0 auto;
				@include font-size(1.25);
				padding: 0 0 60px;
			}
		}
	}
	.services-single-item .cta_wrap .service-cta.cta-type-button {
		padding:35px;
		text-align: center;
		@include media-breakpoint-up(xl) {
			padding: 125px 35px;
		}
		.service-cta_title {
			position: relative;
			margin-bottom: 70px;
			&:before {
				content: '';
				width: 23px;
				height: 3px;
				position: absolute;
				left: 50%;
				bottom: -25px;
				margin-left: -12px;
			}
		}
		
	}
}

.single-cherry-services .site-content_wrap {
	margin-top: 0;
}
