.site-header.style-7 {
	.top-panel{
		padding-left: 15px;
		padding-right: 15px;
	}
	.site-branding {
		text-align: center;
	}

	.main-navigation {
		margin: 0;
	}

	.header-btn-wrap {
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: right;
		}
	}

	.header-btn {
		margin-top: 25px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}
}