.site-header.style-6 {
	.header-container_wrap{
		margin-top: 15px;
		@include media-breakpoint-up(xl) {
			margin-top: 40px;
		}
	}
	.site-branding {
		text-align: center;
	}

	.main-navigation {
		@include media-breakpoint-up(md) {
			width: 100%;

			.menu {
				justify-content: center;
			}
		}
	}
	.header-btn {
		margin-top: 25px;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
	}

	.header-btn-wrap {
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
	}
	.header-container {
		padding: 20px 0;
		@include media-breakpoint-up(md) {
			padding: 30px 0 0;
		}
	}
	.top-panel + .header-container {
		padding-top: 4px;
	}
	.main-navigation {
		position: relative;
		margin-top: 20px;
		padding-top: 19px;
		padding-bottom: 50px;
	}
	&.transparent {
		.top-panel + .header-container {
			padding-top: 20px;
		}

		.main-navigation {
			margin-top: 3px;
			&::before {
				display: none;
			}
		}
	}
}