.top-panel {
	&__container {
		@include media-breakpoint-down(sm) {
			max-width: inherit;
		}

		.site-header.transparent & {
			> *:last-child {
				border-bottom: none;
			}
		}
	}

	&__top,
	&__bottom {
		position: relative;

		.top-panel.invert & {
			border-color: rgba($color__background-hr, .2);
		}

		@include media-breakpoint-down(sm) {
			margin: 0 $grid-gutter-width/-2;
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}

		padding-top: 20px;
		padding-bottom: 20px;

		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: wrap;

			padding: 7.5px 0;
		}
	}
	&__bottom {
		@include media-breakpoint-up(md) {
			padding: 5px 0;
		}
		> * {
			@include media-breakpoint-down(sm) {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
	}
	&__left,
	&__right {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: wrap;
			@include grid-indent(15px);
		}
		@include media-breakpoint-up(xl) {
			@include grid-indent(25px);
		}

		> * {
			margin-top: 5px;
			margin-bottom: 5px;

			@include media-breakpoint-up(md) {
				margin-top: 0;
				margin-bottom: 0;

				&:not(:last-child) {
				}
			}
		}
	}
	&__left {
		.social-list--header{
			@media(max-width: 767px){
				margin-top: 20px;
			}
		}
		&:not(:only-child) {
			@include media-breakpoint-up(md) {
				margin-right: 0;
			}
		}
	}
	&__left,
	&__right {
		> *:not(.header-search) {
			@include media-breakpoint-up(md) {
				visibility: visible;
				opacity: 1;
				transition: all .3s ease-out;
				.site-header.search-active:not(.style-3, .style-2, .style-4) &{
					opacity: 0;
					visibility: hidden;
					transform: translateY(20px);
				}
			}

		}
	}

	&__message {
		@include font-size(0.875);
		padding-top: 7px;
		padding-bottom: 7px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.site-header.style-6 {
	.top-panel {
		&__top,
		&__bottom {
			border-bottom: none;
			padding: 3px 0;
		}
	}

	&.transparent {
		.top-panel {
			&__top,
			&__bottom {
				padding: 5px 0;
			}
		}
	}
}
